:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(175, 207, 252, 0.87);
  background-color: #444242;
  --white-text-color: #fafafa;
  --accent-color: #625487;
  --button-border-color: #ddb3fad2;
  --button-hover-color: #492f89;
  --good-color: #75f8cdd2;
  --neutral-color:#fbe892d2;
  --bad-color:#fa9066d2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  font: inherit;
  appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

